@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scrollbar-width: thin;
}

.image1:hover {
    box-shadow: 2px 2px 20px yellow;
}

.img-container1 img {
    filter: drop-shadow(4px 4px 20px rgb(208, 138, 7));
}